/* nav bar section  */
.navbarContainer {
    display: flex;
    align-items: center;
    height: 5em;
}

.mainLogo {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--primary-color);
}

.notebookIcon {
    color: var(--secondary-color);
}

.linksContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto;
}

.loginLink, .registerLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.4em;
    border-radius: 8px;
    width: 5em;
}

.loginLink:hover, .registerLink:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.menuIcon {
    color: var(--primary-color);
}

.themeSwitch span{
    transition: 0.2s ease-in-out;
}

.desktopNavContainer {
    display: flex;
}

.mobileNavContainer {
    display: none;
}

@media (max-width: 750px) {
    .mobileNavContainer {
        display: initial;
    }

    .desktopNavContainer {
        display: none;
    }
}

/* nav bar section  */


/* footer section  */
.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 10em;
    margin-bottom: 0.7em;
}

.copyrightText {
    font-size: 0.85rem;
    padding-left: 1em;
}

@media (min-height: 1000px) {
    .footerContainer {
        margin-top: 15em;
    }
}
/* footer section  */

@media (max-width: 450px) {
    .lottieAnimationNotFound {
        height: 40em !important;
    }
}