.lottieAnimationNoNotes svg {
    height: 25em !important;
    margin-bottom: 4.6em;
}

.addNotesLinkContainer {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.addNotesLink {
    color: var(--primary-color);
    text-decoration: none;
}

.addNotesLinkWrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.45em;
    cursor: pointer;
}

.addNotesLinkWrapper:hover .addNotesLink {
    color: var(--secondary-color);
}

.addNotesLinkWrapper:hover .addIcon {
    color: var(--secondary-color);
}

.addIcon {
    color: var(--primary-color);
}