.notePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.goBackContainer {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 2.5em;
}

.goBackContainer:hover {
    color: var(--secondary-color);
}

.addItemToNote {
    display: flex;
    align-items: center;
    align-self: flex-start;
    border: 1px solid var(--primary-color);
    padding: 0.8em;
    border-radius: 10px;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 1em;
}

.sortBtn {
    display: flex;
    align-items: center;
    align-self: flex-start;
    border: 1px solid var(--primary-color);
    padding: 0.8em;
    border-radius: 10px;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 1em;
}

.sortBtn:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.sortingMenu {
    position: absolute;
    right: 0;
    width: 9em;
    background-color: var(--menu-background-color);
    z-index: 100;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 0.5em;
    margin-top: -0.8em
}

.sortingMenuList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.9em;
}

.sortingMenuListItem {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 10px;
}

.sortingMenuListItem:hover {
    background-color: var(--secondary-color-faded);
}

.addItemToNoteEmptyNotes {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 0.8em;
    border-radius: 10px;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 1em;
}

.addItemToNote:hover, .addItemToNoteEmptyNotes:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.firstItem {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.lastItem {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.priorityColorGreen {
    display: block;
    position: absolute;
    top: 0;
    width: 5em;
    height: 5px;
    background-color: #1a861a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.priorityColorYellow {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 5em;
    height: 5px;
    background-color: rgb(165, 165, 31);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.priorityColorRed {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 5em;
    height: 5px;
    background-color: rgb(147, 30, 30);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.noteListItemText {
    margin-bottom: 0 !important;
}

/* note item text wrapper */
.textWrapper {
    position: relative;
    display: inline-block;
}

/* line that expands when hovered */
.textWrapper::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0%;
    height: 2px;
    background: currentColor;
    transition: width 0.5s ease-in-out;
}
  
/* This class triggers the line to expand to 100% (or contract back to 0% when removed) */
.lineActive::after {
    width: 100%
}

.noteListItemText span {
    font-size: 1.1em;
}

@media (hover: hover) {
    .noteListItem:hover:hover, .noteListItemOdd:hover {
        background-color: var(--secondary-color-faded);
    }
}

.noteListItem {
    background-color: var(--note-card-background-card-item);
}

.noteListItemOdd {
    background-color: var(--note-list-item-odd);
}

.noteListCheckbox {
    color: var(--secondary-color);
}

.noteListCheckbox svg {
    color: var(--secondary-color);
}

.iconRename {
    color: var(--primary-color) !important;
}

.iconDelete {
    color: #d32f2f;
}

.iconButtonDelete:hover {
    background-color: var(--note-delete-hover-color) !important;
}

.iconButtonRename:hover {
    background-color: var(--note-rename-hover-color) !important;
}

.noNoteItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;
}

/* no notes drawing section  */

.DrawingSvg {
    width: 20em;
    height: 20em;
}

@media screen and (max-width: 450px) {
    .DrawingSvg {
        width: 15em;
        height: 15em;
    }
}

.Path_2 {
    fill: var(--primary-color);
}

.Path_3 {
    fill: var(--secondary-color);
}

.Path_5 {
    fill: var(--primary-color);
}

.Path_6 {
    fill: var(--secondary-color);
}

.Ellipse_1 {
    fill: var(--secondary-color);
}

.Ellipse_3 {
    fill: var(--secondary-color);
}
/* end of no notes drawing section  */

.backDropLoader svg {
    color: var(--secondary-color) !important;
}

.loadingCheckingItem svg {
    color: var(--secondary-color) !important;
}

.addItemToNotePopupSticky {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background-color: var(--secondary-color);
    color: white;
    bottom: 0;
    left: 0;
    margin: 0.8em;
    opacity: 0.8;
}

.addItemToNotePopupSticky:hover {
    opacity: 1;
}

.itemCreatedAt span {
    font-size: 0.7rem;
    color: var(--primary-color);
}

.searchInput {
    width: 100%;
    border: 1px solid var(--primary-color);
    background-color: var(--note-card-background-card-item);
    border-radius: 10px;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 1em;
}

.searchInput:focus { 
    outline: none;
    border-color: var(--secondary-color);
}

.accordionContainer {
    background-color: var(--note-card-background-card-item) !important;
    color: var(--primary-color) !important;
    width: 100%;
    border-radius: 10px;
}

.expandIcon {
    color: var(--primary-color) !important;
}

.searchIconContainer {
    position: absolute;
    padding: 1.02em;
}

.searchIcon {
    width: 1.2em;
    height: 1.2em;
}

.searchIconColor {
    color: var(--secondary-color);
}

.deleteSearchBtn {
    color: var(--primary-color) !important;
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    right: 0;
    margin-top: 1.05em;
    margin-right: 1.1em;
    cursor: pointer;
}

.deleteSearchBtn:hover {
    color: var(--secondary-color) !important;
}

@media screen and (max-width: 450px) {
    .searchIconContainer {
        padding-top: 1.1em;
    }

    .deleteSearchBtn {
        margin-top: 1.1em;
        margin-right: 1.05em;
    }
}

.noteBookTextArea {
    resize: none;
    width: 100%;
    font-size: 1rem;
    background-color: var(--note-card-background-card-item);
    padding: 1em;
    border-radius: 12px;
}

.noteBookTextArea:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
}

.floatingSaveBtn svg {
    color: white !important;
}

.switchNotesViewBtnContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    /* padding: 0.9em; */
    gap: 0.8em;
    cursor: pointer;
}

.switchNoteViewBtnContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    gap: 0.8em;
    margin-bottom: 1em;
    cursor: pointer;
    width: 5.5em;
}

.filterNoteItemsSwitchBtnContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    gap: 0.8em;
    margin-bottom: 0.7em;
    cursor: pointer;
    width: 5.5em;
}

/* .switchNoteViewBtnContainer:hover .divider {
    border-color: var(--secondary-color);
} */

.filterNoteItemsSwitchBtnContainerSelected {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    gap: 0.8em;
    margin-bottom: 0.7em;
    cursor: pointer;
    width: 5.5em;
    border-color: var(--secondary-color);
}

/* .switchNoteViewBtnContainer:hover {
    border-color: var(--secondary-color);
} */

.selectedAreaRegular {
    position: absolute;
    background-color: var(--secondary-color-faded);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 50%;
    height: 100%;
    left: 0;
    right: 0;
}

.notSelectedArea {
    z-index: -500;
    position: absolute;
}

.selectedAreaCategories {
    position: absolute;
    background-color: var(--secondary-color-faded);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    height: 100%;
    right: 0;
}

.regularViewBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2.8em;
    padding-left: 0.3em;
}

.divider {
    position: absolute;
    border-left: 1px solid var(--primary-color);
    height: 2.194em;
    width: fit-content;
}

.dividerSelected {
    position: absolute;
    border-left: 1px solid var(--secondary-color);
    height: 2.194em;
    width: fit-content;
}

.categoriesViewBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2.8em;
    padding-right: 0.3em;
}

.checkedFilterViewBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.8em;
    height: 2.245em;
    padding-left: 0.4em;
}

.uncheckedFilterViewBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.8em;
    height: 2.245em;
    padding-right: 0.3em;
}

.selectedCheckIcon, .selectedUncheckIcon {
    color: var(--secondary-color);
}

.noteItemsListSkeleton {
    background-color: var(--note-card-background-card-item) !important;
}

.categoriesSelectorContainer {
    position: relative;
    display: flex;
    gap: 0.5em;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1em;
}

.filterSelectorContainer {
    display: flex;
    gap: 0.5em;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.categoryBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    text-wrap: nowrap;
    background-color: var(--note-card-background-card-item);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.categoryBoxSelected {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    position: sticky;
    transition: all 0.3s ease;
    z-index: 1000;
}

.categoryBoxSelectedAll {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: var(--secondary-color-faded);
    transition: all 0.3s ease;
}

.categoryBoxLeft {
    right: 0;
    left: 0;
    /* give background blur effect */
    backdrop-filter: blur(5px);
    /* give radius to box shadow */
    border-radius: 10px;
}

.categoryBoxRight {
    left: 0;
    right: 0;
    /* give background blur effect */
    backdrop-filter: blur(5px);
    /* give radius to box shadow */
    border-radius: 10px;
}
