.notePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.goBackContainer {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 3em;
}

.goBackContainer:hover {
    color: var(--secondary-color);
}

.addItemToNote {
    display: flex;
    align-items: center;
    align-self: flex-start;
    border: 1px solid var(--primary-color);
    padding: 0.8em;
    border-radius: 10px;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 1em;
}

.sortBtn {
    display: flex;
    align-items: center;
    align-self: flex-start;
    border: 1px solid var(--primary-color);
    padding: 0.8em;
    border-radius: 10px;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 1em;
}

.sortBtn:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.sortingMenu {
    position: absolute;
    right: 0;
    width: 9em;
    background-color: var(--note-card-background);
    z-index: 100;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 0.5em;
    margin-top: -0.8em
}

.sortingMenuList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.9em;
}

.sortingMenuListItem {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 10px;
}

.sortingMenuListItem:hover {
    background-color: var(--secondary-color-faded);
}

.addItemToNoteEmptyNotes {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 0.8em;
    border-radius: 10px;
    gap: 0.3em;
    cursor: pointer;
    margin-bottom: 1em;
}

.addItemToNote:hover, .addItemToNoteEmptyNotes:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.firstItem {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.lastItem {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.priorityColorGreen {
    display: block;
    position: absolute;
    top: 0;
    width: 5em;
    height: 5px;
    background-color: #1a861a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.priorityColorYellow {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 5em;
    height: 5px;
    background-color: rgb(165, 165, 31);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.priorityColorRed {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 5em;
    height: 5px;
    background-color: rgb(147, 30, 30);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.noteListItemText {
    margin-bottom: 0 !important;
}

.noteListItemText span {
    font-size: 1.1em;
}

@media (hover: hover) {
    .noteListItem:hover:hover, .noteListItemOdd:hover {
        background-color: var(--secondary-color-faded);
    }
}

.noteListItem {
    background-color: var(--note-card-background-card-item);
}

.noteListItemOdd {
    background-color: var(--note-list-item-odd);
}

.noteListCheckbox {
    color: var(--secondary-color);
}

.noteListCheckbox svg {
    color: var(--secondary-color);
}

.iconRename {
    color: var(--primary-color) !important;
}

.iconDelete {
    color: #d32f2f;
}

.iconButtonDelete:hover {
    background-color: var(--note-delete-hover-color) !important;
}

.iconButtonRename:hover {
    background-color: var(--note-rename-hover-color) !important;
}

.noNoteItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;
}

/* no notes drawing section  */

.DrawingSvg {
    width: 20em;
    height: 20em;
}

@media screen and (max-width: 450px) {
    .DrawingSvg {
        width: 15em;
        height: 15em;
    }
}

.Path_2 {
    fill: var(--primary-color);
}

.Path_3 {
    fill: var(--secondary-color);
}

.Path_5 {
    fill: var(--primary-color);
}

.Path_6 {
    fill: var(--secondary-color);
}

.Ellipse_1 {
    fill: var(--secondary-color);
}

.Ellipse_3 {
    fill: var(--secondary-color);
}
/* end of no notes drawing section  */

.backDropLoader svg {
    color: var(--secondary-color) !important;
}

.loadingCheckingItem svg {
    color: var(--secondary-color) !important;
}

.addItemToNotePopupSticky {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background-color: var(--secondary-color);
    color: white;
    bottom: 0;
    left: 0;
    margin: 0.8em;
    opacity: 0.8;
}

.addItemToNotePopupSticky:hover {
    opacity: 1;
}

.itemCreatedAt span {
    font-size: 0.7rem;
    color: var(--primary-color);
}

.searchInput {
    width: 100%;
    border: 1px solid var(--primary-color);
    background-color: var(--note-card-background-card-item);
    border-radius: 10px;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 1em;
}

.searchInput:focus { 
    outline: none;
    border-color: var(--secondary-color);
}

.accordionContainer {
    background-color: var(--note-card-background);
    color: var(--primary-color);
}

.expandIcon {
    color: var(--primary-color);
}

.searchIconContainer {
    position: absolute;
    padding: 1.02em;
}

.searchIcon {
    width: 1.2em;
    height: 1.2em;
}

.searchIconColor {
    color: var(--secondary-color);
}

.deleteSearchBtn {
    color: var(--primary-color) !important;
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    right: 0;
    margin-top: 1.05em;
    margin-right: 1.1em;
    cursor: pointer;
}

.deleteSearchBtn:hover {
    color: var(--secondary-color) !important;
}

@media screen and (max-width: 450px) {
    .searchIconContainer {
        padding-top: 1.1em;
    }

    .deleteSearchBtn {
        margin-top: 1.1em;
        margin-right: 1.05em;
    }
}

.noteBookTextArea {
    resize: none;
    width: 100%;
    background-color: var(--note-card-background-card-item);
    padding: 1em;
    border-radius: 12px;
}

.noteBookTextArea:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
}