[data-theme='dark'] {
  --background-color: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,51,81,1) 0%, rgba(34,72,86,1) 90% );
  --menu-background-color: #2a3d53;
  --primary-color: white;
  --secondary-color: #19a29b;
  --secondary-color-faded: #19a29b22;
  --borders-color: #868383;
  --google-button-background-hover: rgb(187, 183, 183);
  --note-type-selector-selected-color: #5959537a;
  --note-card-background-card-item: #c2c1c117;
  --note-card-background: #353535;
  --note-delete-hover-color: #90252547;
  --note-rename-hover-color: #6d6a6a63;
  --note-list-item-odd: #45454547;
}

[data-theme='light'] {
  --background-color: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
  --menu-background-color: #c7cbce;
  --primary-color: black;
  --secondary-color: #610c62;
  --secondary-color-faded: #600c623f;
  --borders-color: #887c7c;
  --google-button-background-hover: rgb(207, 197, 197);
  --note-type-selector-selected-color: #BFBFBF;
  --note-card-background-card-item: #bdbdbd6e;
  --note-card-background: #eeeeee;
  --note-delete-hover-color: #c948485e;
  --note-rename-hover-color: #bebebe80;
  --note-list-item-odd: #8484844f;
}

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", "Liberation Sans", Ubuntu, Cantarell,
  "DejaVu Sans", "Source Sans Pro", sans-serif
}

/* Make it stick across all controls */
html, body, input, textarea, button, select {
  font-family: var(--font-sans) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 1em;
  background-image: var(--background-color);
 	background-blend-mode: normal, multiply;
  min-height: 100vh;
  max-width: 85em;
  margin: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 915px) {
  body {
    padding-left: 1em;
    padding-right: 1em;
  }
}